
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
body {
margin: 0; line-height: normal;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.bg-brand {
  background-color: #3dce94 !important;
  color: white !important;
}

.text-brand {
  color: #3dce94 !important;
}
.btn-brand {
  background-color: #3dce94;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 7px 69px;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  transition: all 0.3s ease;
  width: 100%; /* 依需求可改成 auto */
  text-align: center;
}

/* Hover 和點擊效果 */
.btn-brand:hover,
.btn-brand:active {
  background-color: #fff;
  color: #3dce94;
  border: 3px solid #3dce94;
}
.btn-brand {
  cursor: pointer;
}