
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* 網頁文字 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
body {
  font-family: 'Noto Sans TC', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
.text-title {
  font-size: 1.125rem;
  font-weight: 600;
}

.text-subtitle {
  font-size: 0.9rem;
  color: #6c757d;
}



/* 卡片 */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.bg-brand {
  background-color: #3dce94 !important;
  color: white !important;
}

.text-brand {
  color: #3dce94 !important;
}
.btn-brand {
  background-color: #3dce94;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 7px 69px;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  transition: all 0.3s ease;
  width: auto; /* 依需求可改成 auto */
  text-align: center;
}

/* 按鈕Hover 和點擊效果 */
.btn-brand {
  background-color: #3dce94;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 7px 69px;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  transition: all 0.3s ease;
  width: auto;
  text-align: center;
  cursor: pointer;
}

/* Hover / Active / Focus 狀態統一 */
.btn-brand:hover,
.btn-brand:active,
.btn-brand:focus {
  background-color: #fff;
  color: #3dce94;
  border: 3px solid #3dce94;
  outline: none; /* 移除預設黑框 */
  box-shadow: none; /* 防止 Bootstrap 預設的按鈕陰影 */
}


/* 數量按鈕 */
.quantity-btn {
  background-color: #D8F7EA; /* 預設背景 */
  color: black;
  font-size: 1.2rem;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.quantity-btn:hover {
  background-color: var(--main-hover, #c2c5c4); /* 滑過變色 */
  color: #000;
}


/* 標籤 */
.tag {
  border-radius: 25px;
  border: 2px solid var(--main-deep, #3DCE94);
  color: var(--main-deep, #3DCE94);
  padding: 2px 10px;
  font-size: 0.85rem;
  font-weight: 600;
  display: inline-block;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.qty-input {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.qty-input:focus {
  border: 1px solid #999;
  background-color: #fff;
  padding: 2px;
}
/* 數量input欄位-去掉上下選取 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}
